#cal{
    border: 6px solid #434345;
    width: 350px;
    border-radius: 25px; ;
    background-color: #1a1a1b;
    
}
#display{
    margin: 25px;
    height: 50px;
    width: 290px;
    border-radius: 16px;
    background-color: rgba(250, 235, 215, 0.726);
    box-shadow: 3px 3px 3px 1px #515252 ;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button_container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button{
    height: 60px;width: 60px;
    margin: 9px;
    border-radius: 15px;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    background-color: #2d2e30;
    color: #ffff;
    box-shadow: #515252 1px 1px 5px 1px;
}
.operator{
    background-color: #d4af37;
}
.ev{
    background-color: #a07b01;
}
